.candidate {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid var(--borderColor);
  border-radius: 4px;
  background-color: var(--addSeriesBackgroundColor);
}

.poster {
  flex: 0 0 70px;
  margin-right: 15px;
  height: 100px;
}

.content {
  flex: 1 1 auto;
  overflow: hidden;
}

.titleRow {
  display: flex;
  align-items: baseline;
}

.title {
  margin-right: 10px;
  font-weight: 300;
  font-size: 20px;
}

.id {
  color: var(--disabledColor);
}

.details {
  margin-top: 4px;
  color: var(--helpTextColor);
  font-size: $smallFontSize;
}

.overview {
  overflow: hidden;
  margin-top: 6px;
}

.actions {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  margin-left: 15px;
  height: 100px;
}

.currentIcon {
  color: var(--successColor);
}
